<fieldset>
    <legend>Password</legend>
    <div class="input-wrapper">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
</fieldset>