<!DOCTYPE html>
<html>
  <head>
    <title>Shirt Shop</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1>Shirt Shop</h1>
    <a class="horizontal-links" href="/new-category">Add Category</a>
    <div class="item-wrapper">
      <% locals.categories.forEach((category) => { %>
        <a class="item" href="<%= category.url %>">
          <div class="mock-img"></div>
          <p class="label"><%= category.name %></p>
        </a>
      <% }) %>
    </div>
  </body>
</html>
