body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a.category-link {
  display: block;
}

div.shirt-wrapper {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

a.shirt {
  display: flex;
  flex-direction: column;
}
